stepfunctions/sim/state-machine.json
{
  "Comment": "A description of my state machine",
  "StartAt": "SIM",
  "States": {
    "SIM": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "InsertToDocDB",
          "States": {
            "InsertToDocDB": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:${region}:${resource_name_prefix}-lambda-datastorelambda:$LATEST",
                "Payload": {
                  "input.$": "$$.Execution.Input",
                  "workflowId.$": "$$.Execution.Name",
                  "action": "insert"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "ResultSelector": {
                "response.$": "$.Payload"
              },
              "ResultPath": "$.InsertToDocDB",
              "Next": "PDWQuery",
              "TimeoutSeconds": 60
            },
            "PDWQuery": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:${region}:${resource_name_prefix}-lambda-calloutlambda:$LATEST",
                "Payload": {
                  "requestData": {
                    "vintage.$": "$$.Execution.Input.vintage",
                    "action": "validatedata",
                    "address.$": "$$.Execution.Input.address",
                    "callbackId.$": "$$.Execution.Input.meta.callbackId",
                    "callbackUrl.$": "$$.Execution.Input.meta.callbackUrl"
                  },
                  "callType": "lambda",
                  "arn": "${ARN_QUERY_PDW}",
                  "headers": {},
                  "isWaitTask": false,
                  "retry": "number of times we want to retry on specific error types like timeout, 500",
                  "timeout": 30,
                  "storeDataToS3": "",
                  "taskName": "PDWQuery",
                  "workflowId.$": "$$.Execution.Name",
                  "auth": {}
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "ResultSelector": {
                "response.$": "$.Payload"
              },
              "ResultPath": "$.PDWQuery",
              "Next": "CallModel",
              "TimeoutSeconds": 60
            },
            "CallModel": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.PDWQuery.response.triggerSIM",
                  "BooleanEquals": false,
                  "Next": "Pass"
                }
              ],
              "Default": "InvokeSIMModel"
            },
            "InvokeSIMModel": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "OutputPath": "$",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:${region}:${resource_name_prefix}-lambda-calloutlambda:$LATEST",
                "Payload": {
                  "requestData": {
                    "latitude.$": "$.PDWQuery.response.latitude",
                    "longitude.$": "$.PDWQuery.response.longitude",
                    "jobId.$": "$$.Execution.Name",
                    "imagerydate_after.$": "$$.Execution.Input.vintage",
                    "meta": {
                      "s3Uri": "s3://${resource_name_prefix}-s3-property-data-orchestrator/sim-pipeline"
                    }
                  },
                  "callType": "sqs",
                  "queueUrl": "${SIM_QUEUE_URL}",
                  "headers": {},
                  "isWaitTask": true,
                  "retry": "number of times we want to retry on specific error types like timeout, 500",
                  "timeout": 30,
                  "storeDataToS3": "",
                  "taskName": "InvokeSIMModel",
                  "workflowId.$": "$$.Execution.Name",
                  "taskToken.$": "$$.Task.Token",
                  "auth": {}
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "ResultSelector": {
                "response.$": "$"
              },
              "ResultPath": "$.InvokeSIMModel",
              "Next": "SIMToPDWConversion",
              "TimeoutSeconds": 120
            },
            "SIMToPDWConversion": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:${region}:${resource_name_prefix}-lambda-calloutlambda:$LATEST",
                "Payload": {
                  "requestData": {
                    "workflowId.$": "$$.Execution.Name",
                    "simOutput.$": "$.InvokeSIMModel.response.simOutput",
                    "address.$": "$.PDWQuery.response.address",
                    "parcelId.$": "$.PDWQuery.response.parcelId"
                  },
                  "callType": "lambda",
                  "arn": "${ARN_SIM2_PDW}",
                  "headers": {},
                  "isWaitTask": false,
                  "retry": "number of times we want to retry on specific error types like timeout, 500",
                  "timeout": 10,
                  "storeDataToS3": "",
                  "taskName": "SIMToPDWConversion",
                  "workflowId.$": "$$.Execution.Name",
                  "auth": {}
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "ResultPath": "$.SIMToPDWConversion",
              "ResultSelector": {
                "response.$": "$.Payload"
              },
              "Next": "InvokeGraphPublisher",
              "TimeoutSeconds": 70
            },
            "InvokeGraphPublisher": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "OutputPath": "$",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:${region}:${resource_name_prefix}-lambda-calloutlambda:$LATEST",
                "Payload": {
                  "requestData": {
                    "S3Path.$": "$.SIMToPDWConversion.response.pdwPayload"
                  },
                  "url": "${GRAPH_PUBLISH_URL}",
                  "requestMethod": "POST",
                  "headers": {},
                  "isWaitTask": true,
                  "retry": "number of times we want to retry on specific error types like timeout, 500",
                  "timeout": 45,
                  "storeDataToS3": "",
                  "taskName": "InvokeGraphPublisher",
                  "workflowId.$": "$$.Execution.Name",
                  "taskToken.$": "$$.Task.Token",
                  "auth": {
                    "type": "bearer",
                    "authData": {
                      "secretStoreType": "pdo_secret_manager",
                      "clientIdKey": "ClientID",
                      "clientSecretKey": "ClientSecret",
                      "url": "${ENDPOINT_AUTH_TOKEN}"
                    }
                  }
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "PDWQueryAfterIngestion",
              "ResultSelector": {
                "response.$": "$"
              },
              "ResultPath": "$.PDWQueryAfterIngestion",
              "TimeoutSeconds": 120
            },
            "PDWQueryAfterIngestion": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:${region}:${resource_name_prefix}-lambda-calloutlambda:$LATEST",
                "Payload": {
                  "requestData": {
                    "vintage.$": "$$.Execution.Input.vintage",
                    "action": "querydata",
                    "address.$": "$$.Execution.Input.address",
                    "callbackId.$": "$$.Execution.Input.meta.callbackId",
                    "callbackUrl.$": "$$.Execution.Input.meta.callbackUrl"
                  },
                  "callType": "lambda",
                  "arn": "${ARN_QUERY_PDW}",
                  "headers": {},
                  "isWaitTask": false,
                  "retry": "number of times we want to retry on specific error types like timeout, 500",
                  "timeout": 30,
                  "storeDataToS3": "",
                  "taskName": "PDWQueryAfterIngestion",
                  "workflowId.$": "$$.Execution.Name",
                  "auth": {}
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "RetriableError"
                  ],
                  "IntervalSeconds": 60,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "End": true,
              "ResultSelector": {
                "response.$": "$.Payload"
              },
              "ResultPath": "$.PDWQueryAfterIngestion",
              "TimeoutSeconds": 60
            },
            "Pass": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyError",
          "ResultPath": "$.errorMessage"
        }
      ],
      "ResultSelector": {
        "response.$": "$[0]"
      },
      "OutputPath": "$.response",
      "End": true
    },
    "NotifyError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:${region}:${resource_name_prefix}-lambda-sfnnotifier:$LATEST",
        "Payload": {
          "callbackId.$": "$$.Execution.Input.meta.callbackId",
          "callbackUrl.$": "$$.Execution.Input.meta.callbackUrl",
          "errorMessage.$": "$.errorMessage",
          "workflowId.$": "$$.Execution.Name"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "RetriableError"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 1
        }
      ],
      "End": true
    }
  }
}